<ion-view view-title="Message">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <ul>
          <li><i class="icon ion-checkmark-round"> お近くの交番を選択して下さい。</i></li>
        </ul>
      </div>
      <ion-list>
        <ion-checkbox ng-model="Kim">金 交番</ion-checkbox>
        <ion-checkbox ng-model="Ohashi">大橋 交番</ion-checkbox>
        <ion-checkbox ng-model="Kobayashi">小林 交番</ion-checkbox>
      </ion-list>
    </div>
    <div class="card">
      <div class="item item-divider">
        <ul>
          <li><i class="icon ion-edit"> 状況を出来るだけ詳しくお書き下さい。</i></li>
          <li>・いつ？</li>
          <li>・どこで？</li>
          <li>・何が起きたか？</li>
        </ul>
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input">
          <textarea ng-model="message"></textarea>
        </label>
      </div>
      <div class="item item-divider">
        <button class="button button-full button-positive" ng-click="send(message,Kim,Ohashi,Kobayashi);">
          Send Message
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

