<ion-view view-title="How to use">
  <ion-content class="padding">
    <center>
    <h2>レスキューシステムアプリ</h2>
    <b><h3>With Us, You Are Saved.</h3></b>
    <img ng-src="{{'/img/Rescue.png'}}" style="width: 128px; height: 128px">
    <p>あなたを救助に向かいます。</p>
    <p>落ち着いて以下の手順に沿って操作して下さい。</p>
    </center>
    <div class="item item-text-wrap">
    <ul>
    <li>(1)下のMessageタブ<i class="icon ion-ios-chatbubble-outline"></i>をタッチして下さい。</li>
    <li>(2)入力フォーム<i class="icon ion-edit"></i>に被害状況をお書き下さい。</li>
    <li>(3)「Send Message」をタッチして下さい。</li>
    <li>(4)その場でお待ち下さい。救助に向かいます。</li>
  	</ul>
  	</div>
  </ion-content>
</ion-view>