<ion-view view-title="Message">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Contents
      </div>
      <div class="item item-text-wrap">
        <label class="item item-input">
          <textarea ng-model="message"></textarea>
        </label>
      </div>
      <div class="item item-divider">
        <button class="button button-full button-positive" ng-click="send(message);">
          Send Message
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

