<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- How to use Tab -->
  <ion-tab title="How to use" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Message Tab -->
  <ion-tab title="Message" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

  <!-- Setting Tab -->
  <ion-tab title="Setting" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
